html, body, ul, li, a h1, h2 {margin: 0px; padding: 0px;}
a { text-decoration: none;}
.center { width: 980px; margin: 0 auto; position: relative;}
html, body, ul { margin:0px; padding:0px}
.center { width: 950px; margin: 0 auto; position: relative;}
ul { list-style: none; }
ul > li:first-child { margin-right: 0px;}
ul > li.menu { float: left; margin-right:1em; }
li.menu a {text-decoration: none; }
ul.menu-buttons { padding: 0px;}
.menu-buttons .item_0 a {color: #007ABE;}
.menu-buttons .item_1 a {color: #DCD148;}
.menu-buttons .item_2 a {color: #39A63F;}
.clear { clear: both; }
.up { text-transform: uppercase}
article h2 a {color:#636363; font-weight: normal; font-style: normal;}
article h2 a:hover {color: #291A30; }
article .entry {margin-top: 30px; color: #888;}
.data-block {position: absolute; left: -70px; top: -10px; width: 55px; height: 55px; border-radius: 30px; background-color: #45B5AD;}
.data-block p {margin: 10px 0; -webkit-transform: rotate(-30deg); text-align: center; line-height: 16px;}
.comment span { position: relative; bottom: 7px; font-size: 12px;}
.comment {min-width: 80px; float:right;}
.cbg-color{background-color: #888; }
.chead {width: 20px; height:17px; text-align: center; padding: 2px 0; display: inline-block;}
.ctail {display: block; height: 0px; width: 0px; border-top: 5px solid #888; border-right: 5px solid white; position: relative; right: -7px;}
.read-more a {float: right;}
#menu { height: 80px; }
#page {background-color: #F2F2F2; min-width: 1000px; height: 100%}
#header-wrapper{ width: 1020px;}
#content {width: 620px }
#container {margin-top: 30px;}
#container, #breadcrumbs { margin: 0 auto; width:980px; position: relative;}
#container-wrapper { margin-top: 30px;}
#breadcrumbs {height: 25px; border-top: thin dotted #D1D1D1; border-bottom: thin dotted #D1D1D1; font-family: helvetica;}
#primary { width: 300px; height:100%; }
#breadcrumbs span {color: #BABABA; font-size: 11px; letter-spacing: 1px}
.read-more {margin-top: 15px}
a.read-more {border-radius: 10px; background-color: #007abe; padding: 10px 35px; width:35px; font-size: 1em; height: 20px; line-height: 20px; text-align: center; color: #fff; margin: 5px;}
.right-side {position: absolute; right:0px; top: 0px;}
.wrapper {min-width: 50px;}
.clear-right {clear: right}
